*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#meny{
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

#swish, #deals, #fragor img{
    width: 100%;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 35px;
}

h2, h3, p{
    margin-left: 5%;
    margin-right: 5%;
}


.dropdown-content{
    display: none;
    position: absolute;
   
}

.dropdown{
    position: relative;
    display: inline-block;
}
.show {display:block;}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    background-color: white;
    border-color: black;
    text-decoration: none;
    display: block;
  }
  
.meny{
    padding-left: 30%;
}

.meny img{
    width: 100%;
}

#karta{
    width: 100%;
}

.omvarmat img{
    width: 100%;
}

#myDropdown a{
    font-size: 40px;
}

ul{
    list-style: none;
    display: inline-flex;
}

li{
    padding: 10px;
}

#nyheter img, .omvarmat img, #fragor img{
    padding-top: 5%;
}
